:root {
  /* THEME */
  --Markdownbox-color1      : #fff;
  --Markdownbox-color2      : #666;
  --Markdownbox-color3      : #090;
  --Markdownbox-color4      : #ccc;
  --Markdownbox-color5      : #000;
  --Markdownbox-font1       : Ubuntu Mono, Open Sans, monaco, sans-serif;
  --Markdownbox-font2       : Ubuntu Mono, Open Sans, monaco, sans-serif;
  --Markdownbox-font-size1  : 8vw;
  --Markdownbox-font-size2  : 6vw;
  --Markdownbox-font-size3  : 4vw;
  --Markdownbox-borderwidth : 4vw;

  --Markdownbox-mini-font-size1   : 6.5vw;
  --Markdownbox-mini-font-size2   : 3vw;
  --Markdownbox-mini-font-size3   : 2.3vw;
  --Markdownbox-mini-borderwidth  : 4vw;
  --Markdownbox-mini-margin       : 0vw;

  --Markdownbox-watch-font-size1   : 6.5vw;
  --Markdownbox-watch-font-size2   : 3vw;
  --Markdownbox-watch-font-size3   : 2.3vw;
  --Markdownbox-watch-borderwidth  : 4vw;
  --Markdownbox-watch-margin       : 0vw;

  --Markdownbox-smartphone-font-size1 : 6.5vw;
  --Markdownbox-smartphone-font-size2 : 3vw;
  --Markdownbox-smartphone-font-size3 : 2.3vw;
  --Markdownbox-smartphone-borderwidth: 4vw;
  --Markdownbox-smartphone-margin     : 4vw;

  --Markdownbox-tablet-font-size1 : 6.5vw;
  --Markdownbox-tablet-font-size2 : 3vw;
  --Markdownbox-tablet-font-size3 : 2.3vw;
  --Markdownbox-tablet-borderwidth: 4vw;
  --Markdownbox-tablet-margin     : 4vw;

  --Markdownbox-desktop-font-size1 : 6.5vw;
  --Markdownbox-desktop-font-size2 : 3vw;
  --Markdownbox-desktop-font-size3 : 2.3vw;
  --Markdownbox-desktop-borderwidth: 4vw;
  --Markdownbox-desktop-margin     : 4vw;

  --Markdownbox-highres-font-size1 : 6.5vw;
  --Markdownbox-highres-font-size2 : 3vw;
  --Markdownbox-highres-font-size3 : 2.3vw;
  --Markdownbox-highres-borderwidth: 4vw;
  --Markdownbox-highres-margin     : 4vw;
}

.Markdownbox {
  word-break       : break-word;
  hyphens          : auto;
  position         : relative;
  text-align       : center;
  background-color : var(--Markdownbox-color1);
  padding          : 3vw;
  padding-left     : 5vw;
  padding-right    : 5vw;
  padding-bottom   : 5vw;
  border           : var(--Markdownbox-borderwidth) solid var(--Markdownbox-color2);
  margin-top       : 1vw;
  margin-bottom    : 9vw;
  font-size        : var(--Markdownbox-font-size3);
  font-family      : var(--Markdownbox-font1);
  color            : var(--Markdownbox-color3);
}

.Markdownbox h1,
.Markdownbox h2,
.Markdownbox h3,
.Markdownbox h4,
.Markdownbox h5,
.Markdownbox h6  {
  display          : block;
}
.Markdownbox h1 {
  font-family      : var(--Markdownbox-font2);
  color            : var(--Markdownbox-color4);
  font-size        : var(--Markdownbox-font-size1);
  font-weight      : 900;
}
.Markdownbox h2,
.Markdownbox h3,
.Markdownbox h4,
.Markdownbox h5,
.Markdownbox h6  {
  color            : var(--Markdownbox-color5);
  font-size        : var(--Markdownbox-font-size2);
  font-weight      : 900;
}
.Markdownbox tr    {
  font-size        : 1.58vw;
  line-height      : 3vw;
}
.Markdownbox td    {
  padding-left     : 1.5vw;
}
.Markdownbox input[type="image"] {
  width            : 7vw;
}
.Markdownbox a {
  color            : var(--Markdownbox-color2);
  font-weight      : 900;
  text-decoration  : none;
}
.Markdownbox a:hover {
  color            : var(--Markdownbox-color4);
  font-weight      : 900;
  text-decoration  : none;
}
.Markdownbox ul {
  margin        : 0;
  padding       : 0;
}
.Markdownbox li strong a {
  display       : block;
  font-size     : 20px;
  color         : #000;
}
.Markdownbox li {
  margin        : 0;
  padding       : 0;
  list-style    : none;
  line-height   : 20px;
  font-size     : 12px;
}
@media all and (min-width: 0px) and (max-width: 321px) {
  /* mini */
  .Markdownbox       {
    font-size        : var(--Markdownbox-mini-font-size3);
    border           : var(--Markdownbox-mini-borderwidth) solid var(--Markdownbox-color2);
    margin-left      : var(--Markdownbox-mini-margin);
    margin-right     : var(--Markdownbox-mini-margin);
  }
  .Markdownbox h2,
  .Markdownbox h3,
  .Markdownbox h4,
  .Markdownbox h5,
  .Markdownbox h6    {
    font-size        : var(--Markdownbox-mini-font-size2);
  }
  .Markdownbox h1    {
    font-size        : var(--Markdownbox-mini-font-size1);
  }
}
@media all and (min-width: 321px) and (max-width: 641px) {
  /* watch */
  .Markdownbox       {
    font-size        : var(--Markdownbox-watch-font-size3);
    border           : var(--Markdownbox-watch-borderwidth) solid var(--Markdownbox-color2);
    margin-left      : var(--Markdownbox-watch-margin);
    margin-right     : var(--Markdownbox-watch-margin);
  }
  .Markdownbox h2,
  .Markdownbox h3,
  .Markdownbox h4,
  .Markdownbox h5,
  .Markdownbox h6    {
    font-size        : var(--Markdownbox-watch-font-size2);
  }
  .Markdownbox h1    {
    font-size        : var(--Markdownbox-watch-font-size1);
  }
}

@media all and (min-width: 641px) and (max-width: 769px) {
  /* smartphone */
  .Markdownbox       {
    font-size        : var(--Markdownbox-smartphone-font-size3);
    border           : var(--Markdownbox-smartphone-borderwidth) solid var(--Markdownbox-color2);
    margin-left      : var(--Markdownbox-smartphone-margin);
    margin-right     : var(--Markdownbox-smartphone-margin);
  }
  .Markdownbox h2,
  .Markdownbox h3,
  .Markdownbox h4,
  .Markdownbox h5,
  .Markdownbox h6    {
    font-size        : var(--Markdownbox-smartphone-font-size2);
  }
  .Markdownbox h1    {
    font-size        : var(--Markdownbox-smartphone-font-size1);
  }
}

@media all and (min-width: 769px) and (max-width: 1025px) {
  /* tablet */
  .Markdownbox       {
    font-size        : var(--Markdownbox-tablet-font-size3);
    border           : var(--Markdownbox-tablet-borderwidth) solid var(--Markdownbox-color2);
    margin-left      : var(--Markdownbox-tablet-margin);
    margin-right     : var(--Markdownbox-tablet-margin);
  }
  .Markdownbox h2,
  .Markdownbox h3,
  .Markdownbox h4,
  .Markdownbox h5,
  .Markdownbox h6    {
    font-size        : var(--Markdownbox-tablet-font-size2);
  }
  .Markdownbox h1    {
    font-size        : var(--Markdownbox-tablet-font-size1);
  }
}

@media all and (min-width: 1025px) and (max-width: 1201px) {
  /* desktop */
  .Markdownbox       {
    font-size        : var(--Markdownbox-desktop-font-size3);
    border           : var(--Markdownbox-desktop-borderwidth) solid var(--Markdownbox-color2);
    margin-left      : var(--Markdownbox-desktop-margin);
    margin-right     : var(--Markdownbox-desktop-margin);
  }
  .Markdownbox h2,
  .Markdownbox h3,
  .Markdownbox h4,
  .Markdownbox h5,
  .Markdownbox h6    {
    font-size        : var(--Markdownbox-desktop-font-size2);
  }
  .Markdownbox h1    {
    font-size        : var(--Markdownbox-desktop-font-size1);
  }
}

@media all and (min-width: 1201px) {
  /* highres */
  .Markdownbox       {
    font-size        : var(--Markdownbox-highres-font-size3);
    border           : var(--Markdownbox-highres-borderwidth) solid var(--Markdownbox-color2);
    margin-left      : var(--Markdownbox-highres-margin);
    margin-right     : var(--Markdownbox-highres-margin);
  }
  .Markdownbox h2,
  .Markdownbox h3,
  .Markdownbox h4,
  .Markdownbox h5,
  .Markdownbox h6    {
    font-size        : var(--Markdownbox-highres-font-size2);
  }
  .Markdownbox h1    {
    font-size        : var(--Markdownbox-highres-font-size1);
  }
}
